.text-center {
  font-size: 100px;
  font-family: "Permanent Marker", cursive;
  font-style: italic;
}

h5,
h4 {
  font-family: "Neucha", cursive;
  font-size: 2rem;
  color: #6aedf1;
  text-shadow: violet;
}

.item {
  height: 10000;
}
